*{
  font-family: 'Audiowide', cursive;
}

.login__form{
  position: absolute; 
  left: 50%; 
  top: 50%;  
  transform: translate(-50%, -50%);  
  text-align:center;
}

.navbar__header{
  color: white; 
  width:100%; 
  position: fixed; 
  top: 0;
}
.message__content {
  word-break: break-all;
}

.scrollbar{
	height: 450px;
	overflow-y: scroll;
  margin-bottom: 25px;
  width: 600px;
}

.force-overflow{
	min-height: 600px;
}



